.resultItem {
  width: 40rem;
  max-height: 5%;
  margin: 0.5rem;
  justify-self: flex-start;
  text-align: justify;
}

.resultItem h3 {
  margin-bottom: 1rem;
}

.resultItem p {
  margin-bottom: 1rem;
}

.post-details {
  display: flex;
}

.content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.4;
}
